.pagina-inicial {

  
  
  h2 {
    margin-top: 55px;
    margin-left: 50px;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 14px;
    gap: 30px;
  
  }


}