.pagina-exec05 {


  .line {
    background-color: #CB37FF;
  }
  
  .container-execs {
    display: flex;
    min-width: 476px; 
    min-height: 363px;
    justify-content: center;
    text-align: left;
    padding: 10px 40px;
   
    h4 {
      margin-bottom: 5px;
    }

    .botao {
      margin-top: 5px;
    }

  }



}
