@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  background-color: #F5F6FA;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  
  


  b {
    background-color: #fff;
  }

}


.topo {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 100%;
  }

  h1 {
    font-weight: 700;
    font-size: 26px;
  }

}

.line {
  margin-top: 7px;
  margin-bottom: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: #FFCE37;
}

  main {
    margin: 40px 50px;
  }

  .container-exec {
    padding: 65px;
    background-color: #fff;
    border-radius: 12px;
    
    
    p{ 
      text-align: center;
      background-color: #fff;
    }
  }

  .container-execs {
    display: flex;
    flex-direction: column;
    max-width: 476px;
    max-height: 295px;
    padding: 50px 25px;
    gap: 8px;
    background-color: #fff;
    margin: 45px 0px;
    border-radius: 12px;
    box-shadow: 0px 0px 14px 1px rgba(173, 173, 173, 0.25);
    
    h4 {  
      background-color: #fff;
    }

    input {
      padding: 10px;
      background-color: #fff;
      border-style: none;
      border: #A5A5A5 1px solid;
      border-radius: 10px;
    }

    .botao {
      display: flex;
      justify-content: end;
      background-color: #fff;
    }

    button {
      padding: 15px 10px;
      min-width: 180px;
      text-align: center;
      color: #fff;
      border-radius: 10px;
      border-style: none;
      background-color: #6278F7;
    }


  }

  .result {
    text-align: center;
  }


